# ============================================
# DATABASE CONFIGURATION
# ============================================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=order_management
DB_USERNAME=your_username
DB_PASSWORD=your_password
# ============================================
# JWT CONFIGURATION
# ============================================
# Example
# JWT_SECRET=5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
JWT_SECRET=your-secret-key-here
JWT_EXPIRATION=86400000


# ============================================
# APPLICATION CONFIGURATION
# ============================================

SERVER_PORT=8080
